@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  color: snow;
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 1.25rem;
}

small {
  font-size: .625rem;
}

a {
  color: burlywood;
}

a:hover,
a:focus {
  text-decoration: underline;
}