@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  color: white;
  font-family: ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New", monospace;
  font-size: 16px;
  font-weight: 500;
}

small {
  font-size: .625rem;
}